.board-entry {
  display: flex;
}

.board-left {
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  border: 3px solid rgb(16, 173, 194);
  text-align: center;
  font-size: 15px;
}

.board-right {
  padding: 20px;
  font-weight: bold;
}
