.login {
  width: 400px;
  border: 2px solid rgb(16, 173, 194);
  border-radius: 5px;
  margin: 10px;
  padding: 30px;
  box-shadow: 3px 3px 3px rgb(173, 235, 243);
  background-color: rgb(243, 240, 218);
}

.login-heading {
  padding: 20px;
}
