.navlinks {
  list-style: none;
}

.link-style {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: all 300ms ease-in-out;
}

.horizontal {
  display: inline;
}

.link-style:hover {
  color: rgb(16, 173, 194);
  cursor: pointer;
}
