ul {
  list-style: none;
}

.poll-heading {
  font-size: 16px;
}

.poll-color-light {
  color: rgb(16, 173, 194);
}

.poll {
  width: 600px;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(16, 173, 194);
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  box-shadow: 3px 3px 3px rgb(173, 235, 243);
  background-color: rgb(243, 240, 218);
}

.poll-option {
  font-size: 14px;
}

.poll-percent {
  padding-left: 50px;
}

.padding {
  padding-top: 15px;
}

.poll-right {
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid rgb(16, 173, 194);
  text-align: center;
  font-size: 13px;
}
